* {
    margin: 0;
    padding: 0;
}

body{ 
    background: url(../../image/background.jpg) no-repeat;
    background-size:cover;
}

.msg {
    color: red;
}

/*========================================*/
.title {
    margin: 10px;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

/*========================================*/
#qrcode {
    margin: 0 auto;
    width: 300px;
}